*.sln -text merge=union
*.cs diff=csharp
*.dds filter=lfs diff=lfs merge=lfs -text
*.mwm filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text